%td= comment.post.title
%td= comment.name
%td= comment.content
%td
  .pull-right
    - if comment.approved?
      = link_to 'Unapprove', admin_comment_url(comment, comment: { approved: false }), method: :put, remote: true
    - else
      = link_to 'Approve', admin_comment_url(comment, comment: { approved: true }), method: :put, remote: true
    = link_to 'X', admin_comment_url(comment), method: :delete, remote: true
  .clear