= simple_form_for [ :admin, @administrator ] do |f|
  = f.input :first_name, label: false, placeholder: "First Name"
  = f.input :last_name, label: false, placeholder: "Last Name"
  = f.input :email, label: false, placeholder: "E-mail"
  = f.input :phone, label: false, placeholder: "Phone Number"
  = f.input :city, label: false, placeholder: "City"
  = f.input :password, label: false, placeholder: "Password"
  = f.input :password_confirmation, label: false, placeholder: "Confirm Password"
  = f.input :github, label: false, placeholder: "Github"
  = f.input :linked_in, label: false, placeholder: "Linked In"
  = f.input :twitter, label: false, placeholder: "Twitter"
  = f.submit 'Submit'