%h1 
  Administrators
  .pull-right= link_to '+', new_admin_administrator_url
  .clear

%table

  %thead
    %tr
      %th Name
      %th E-mail
      %th

  %tbody
    - @administrators.each do |admin|
      %tr
        %td= admin.name
        %td= admin.email
        %td
          .pull-right
            = link_to 'Show', admin_administrator_url(admin)
            = link_to 'Edit', edit_admin_administrator_url(admin)
          .clear