= simple_form_for @comment, remote: true do |f|
  = f.input :name, label: false, placeholder: 'Name'
  = f.input :content, label: false, placeholder: 'Comment'
  .pull-right= f.submit 'SUBMIT', class: 'button'
  = f.simple_captcha :label => "Enter these letters to submit a comment.", placeholder: ''
