.wrapper
  = simple_form_for [ :admin, @project ] do |f|
    = f.input :title, label: false, placeholder: "Title"
    = f.input :content, label: false, placeholder: "Content"
    = f.input :photo_link, label: false, placeholder: "Photo Link"
    = f.input :github_link, label: false, placeholder: "Github Link"
    = f.input :website_link, label: false, placeholder: "Website Link"
    = f.input :approved, label: 'Approved', wrapper_html: { class: 'inline' }
    .pull-right= f.submit 'Submit', class: 'button'
    .clear