%h1 
  Projects
  .pull-right= link_to '+', new_admin_project_path
  .clear
  
%table

  %thead
    %tr
      %th Title
      %th Author
      %th Approval
      %th
      
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td= project.administrator.name
        %td= project.approval
        %td
          = link_to 'Show', admin_project_url(project)
          = link_to 'Edit', edit_admin_project_url(project)
          = link_to 'X', admin_project_url(project), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }