.projects
  #carousel_container
    #left_scroll
      = image_tag 'arrow.png', size: '50x100'
    #carousel_inner
      %ul#carousel_ul
        - @projects.each do |project|
          %li
            = image_tag(project.photo_link, width: 380)
            %div.text
              %h1= project.title
              = convert_to_markdown project.content
              .links
                = link_to image_tag("#{project.administrator.first_name.downcase}.jpeg", size: '50x50'), administrator_path(project.administrator)
                = link_to github_icon(50), project.github_link
                = link_to 'LIVE', project.website_link, class: 'live'
      
    #right_scroll
      = image_tag 'arrow.png', size: '50x100'