.projects
  #carousel_container
    #left_scroll
      = image_tag 'github.jpeg', size: '15x130'
    #carousel_inner
      %ul#carousel_ul
        %li= link_to image_tag('emily.jpeg', size: '415x500'), '#'
        %li= link_to image_tag('neo.jpeg', size: '415x500'), '#'
        %li= link_to image_tag('emily.jpeg', size: '415x500'), '#'
        %li= link_to image_tag('neo.jpeg', size: '415x500'), '#'
        %li= link_to image_tag('emily.jpeg', size: '415x500'), '#'
      
    #right_scroll
      = image_tag 'github.jpeg', size: '15x130'