= simple_form_for [ :admin, @post ] do |f|
  = f.input :title, label: false, placeholder: "Title"
  = f.input :description, label: false, placeholder: "Description"
  = f.input :approved, label: 'Approved'
  = f.submit 'Submit'