#administrators
  #index
    - @administrators.each do |administrator|
          
      .wrapper.pull-left
        %div{ id: "#{administrator.first_name.downcase}_pic", class: 'pic' }

        .wrapper.profile 

          .pull-left
            %h2.name= link_to administrator.name, administrator_url(first_name: administrator.first_name)

            %p.icon
              = telephone_icon(24)
              %span= phone_number_link administrator.phone

            %p.icon
              = email_icon(24)
              %span= mail_to administrator.email, administrator.email, subject: 'Hi'

          .pull-right
            %p.pull-right.profiles
              = link_to github_icon(50), administrator.github
              = link_to linked_in_icon(50), administrator.linked_in
              = link_to twitter_icon(50), administrator.twitter

          .clear

          %p.code= administrator.bio
      
    .clear