#new_administrators
  - @administrators.each do |administrator|
    .administrator
      = link_to '#' do
        %div{ id: "#{administrator.first_name.downcase}_pic" }
        .spacer &nbsp;
          
        %div{ id: "#{administrator.first_name.downcase}_profile"}
        
          %h1.name= link_to administrator.name, administrator_url(first_name: administrator.first_name)

          %p.telephone
            = telephone_icon(24)
            %span= phone_number_link administrator.phone

          %p.email
            = email_icon(24)
            %span= mail_to administrator.email, administrator.email, subject: 'Hi'

          %p.pull-right.profiles
            = link_to github_icon(50), administrator.github
            = link_to linked_in_icon(50), administrator.linked_in
            = link_to twitter_icon(50), administrator.twitter
        
          = convert_to_markdown administrator.bio
.clear
          
:javascript
  $(document).ready( function() { 

    $('#emily_profile').hide();
    $('#neo_profile').hide();

    $("#neo_pic").live('click', function() {
      $('#emily_pic').hide();
      $(this).addClass('stretch');
      $("#neo_profile").slideDown();
    });

    $("#neo_pic.stretch").live('click', function() {
      $('#emily_pic').show();
      $(this).removeClass('stretch');
      $("#neo_profile").hide();
    });

    $("#emily_pic").live('click', function() {
      $('#neo_pic').hide();
      $(this).addClass('stretch');
      $("#emily_profile").slideDown();		
    });
    
    $("#emily_pic.stretch").live('click', function() {
      $('#neo_pic').show();
      $(this).removeClass('stretch');
      $("#emily_profile").hide();
    });
    
	
  });