#administrators
  - @administrators.each do |admin|
    .administrator
      .administrator_pics
        = link_to '#' do
          %div{ id: admin.first_name.downcase }
          
  - @administrators.each do |admin|
    .administrator
      .administrator_text
        %div{ id: "#{admin.first_name.downcase}_profile"}
          
          %h1.name= link_to admin.name, '#'

          %p.telephone
            = telephone_icon(24)
            %span= phone_number_link admin.phone

          %p.email
            = email_icon(24)
            %span= mail_to admin.email, admin.email, subject: 'Hi'

          %p.pull-right.profiles
            = link_to github_icon(50), admin.github
            = link_to linked_in_icon(50), admin.linked_in
            = link_to twitter_icon(50), admin.twitter
          
          = convert_to_markdown admin.bio