.post
  .post-box
    %h1= link_to post.title.upcase, post_url(post)
    .post-content
  
      - if params[:id].nil?
        = truncate(convert_to_markdown(post.content), length: 400, separator: ' ').html_safe
        = link_to 'READ MORE &rarr;'.html_safe, post_url(post)
      - else
        = convert_to_markdown post.content
        .social-media
        
          %span.twitter
            %a{ href: "https://twitter.com/share", class: 'twitter-share-button', 'data-url' => "http://www.fixitwithcode.com/blog/posts/#{params[:id]}" }Tweet

          %span.linkedin   
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/Share" data-url="http://www.fixitwithcode.com/blog/posts/#{params[:id]}" data-counter="right"></script>
          
          %span.facebook
            %div{ class: "fb-like", 'data-href' => "http://www.fixitwithcode.com/blog/posts/#{params[:id]}", 'data-send' => "true", 'data-layout' => "button_count", 'data-width' => "450", 'data-show-faces' => "true", 'data-font' => "verdana" }  
                    
      %p.date Written by #{link_to post.author.name, administrator_url(first_name: post.author.first_name)} on #{ post.updated_at.strftime('%D')}
    
    - if params[:id].present?
      = render 'comments/comments', comments: post.comments
      
  - if !params[:id].nil?
    = link_to '&larr; BACK TO BLOG'.html_safe, posts_url, id: 'back_to_blog'