.post
  .post-box
    %h1= link_to post.title.upcase, post_url(post)
    .post-content
  
      - if params[:id].nil?
        = truncate(convert_to_markdown(post.description), length: 600).html_safe
        = link_to 'READ MORE &rarr;'.html_safe, post_url(post)
      - else
        = convert_to_markdown post.description
      
      %p.date Written by #{link_to post.administrator.name, administrator_url(first_name: post.administrator.first_name)} on #{pretty_date post.created_at}
      
  - if !params[:id].nil?
    = link_to '&larr; BACK TO BLOG'.html_safe, posts_url, id: 'back_to_blog'