#public

  #admins
    - @administrators.each do |admin|
      .admin
        %p{ class: admin.first_name.downcase }= image_tag "#{admin.first_name.downcase}.jpeg", size: '185x124'
    
        %h3.name= admin.name
    
        %p.telephone
          = telephone_icon
          %span= phone_number_link admin.phone
    
        %p.email
          = email_icon
          %span= mail_to admin.email, admin.email, subject: 'Hi'
    
        %p.profiles
          = link_to github_icon, admin.github
          = link_to linked_in_icon, admin.linked_in
          = link_to twitter_icon, admin.twitter
  
  #posts
    - @posts.each do |post|
      .post
        %h1= post.title.upcase
        .post-content
          = truncate(convert_to_markdown(post.description), length: 550).html_safe
          = link_to 'READ MORE &rarr;'.html_safe, '#'
          %p.date Written by #{post.administrator.name} on #{pretty_date post.created_at}