!!! html5
%html
  %head
    %title Fix It With Code  
    = stylesheet_link_tag    "admin/application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags		
    %link{ href: 'http://fonts.googleapis.com/css?family=Inconsolata', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Allura', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Galdeano', rel: 'stylesheet', type: 'text/css' }
    
    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35839066-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  %body
    .container
    
      #box
        .banner
          .ribbon.left
          %p= link_to 'FIX IT WITH CODE', root_url
          .ribbon.right
          
      #menu
        - if current_admin.present?
          = link_to 'Projects', admin_projects_url
          &bull;
          = link_to 'Posts', admin_posts_url
          &bull;
          = link_to 'Comments', admin_comments_url
          &bull;
          = link_to 'Administrators', admin_administrators_url
          &bull;
          = link_to 'Logout', admin_logout_url
        - else
          = link_to 'Login', admin_login_url

      .content
        = yield