!!! html5
%html
  %head
    %title Fix It With Code  
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags		
    %link{ href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel: 'stylesheet', type: 'text/css' }
    
  %body
    = render 'shared/header'
    .container
      .subheader.pull-right
        - if current_admin.present?
          = link_to 'Administrators', admin_administrators_url
          |
          = link_to 'Posts', admin_posts_url
          |
          = link_to 'Logout', admin_logout_url
        - else
          = link_to 'Login', admin_login_url
      = yield