!!! html5
%html
  %head
    %title FixItWithCode  
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags		
    %link{ href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel: 'stylesheet', type: 'text/css' }
    
  %body
    = render 'shared/header'
    .container
      = yield