!!! html5
%html
  %head
    %title Fix It With Code  
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags		
    %link{ href: 'http://fonts.googleapis.com/css?family=Inconsolata', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Allura', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Galdeano', rel: 'stylesheet', type: 'text/css' }
    
  %body
    .container
      = render 'shared/header'
      .content
        = yield