!!! html5
%html
  %head
    %title Fix It With Code  
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags		
    %link{ href: 'http://fonts.googleapis.com/css?family=Inconsolata', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Allura', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Galdeano', rel: 'stylesheet', type: 'text/css' }
    
    - if Rails.env.production?
      :javascript
        var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackClick","trackForm","pageview","ab"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
        analytics.load("x9lhs0mefh");
        
  %body
    .container
      = render 'shared/header'
      .content
        = yield